 
<div class="container">
    <div class="row">
        <div class="col">
          <h2>Programa Casa Solar
          </h2>
          <div class="d-flex align-items-center">

          
            <p class="textofina">
              El programa “Casa Solar” permite adquirir sistemas fotovoltaicos a menor precio y con cofinanciamiento estatal variable para viviendas de hasta 3 mil UF de avalúo fiscal.

            Con el objetivo de fomentar el uso de sistemas solares fotovoltaicos, para que las personas generen la electricidad que consumen en sus casas, el ministro de Energía, Juan Carlos Jobet, lanzó este martes el programa "Casa Solar".
            
            Se trata de una iniciativa que permite a las familias de todo el país, adquirir sistemas fotovoltaicos a menores precios –gracias a la compra agregada- y además contempla un cofinanciamiento estatal variable para viviendas con un avalúo fiscal de hasta 3.000 UF.
            
            Jobet, explicó que “en promedio, una familia gasta anualmente cerca de $300.000 en electricidad y estimamos que con este programa tendría un ahorro anual de $220.000, después de pagar el sistema fotovoltaico, lo que es un importante beneficio para la economía de los hogares. Casa Solar es un anhelo de muchos años, porque nos permite dar una solución de largo plazo en los consumos energéticos de las familias, aprovechando un recurso tan abundante en nuestro país como el sol y además, cuidando el medio ambiente”.</p>
         
        </div>

          </div>
    </div>